<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑博文</title>
    <link rel="stylesheet" type="text/css" href="{P}/css/app.css" />
    <script type="text/javascript" src="{P}/js/app.js"></script>
</head>
<body>
<div class="wrapper">
    {include file='../public/header.html'}
    {include file="../public/sidebar.html"}
    <div id="page">
        <div class="page-title">
            <div class="in">
                <div class="titlebar">
                    <h2>博文管理</h2><p>编辑博文</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="content">
            <div class="simplebox grid740" style="z-index: 720;">
                <div class="titleh" style="z-index: 710;">
                    <h3>编辑博文</h3>
                </div>
                <div class="body" style="z-index: 690;">
                    <!-- 编辑博文表单 -->
                    <form id="form2" name="form2" method="post" action="index.php?p=admin&c=article&a=update">
                        <input type="hidden" name="id" value="{$article.id}">
                        <div class="st-form-line" style="z-index: 680;">
                            <span class="st-labeltext">标题</span>
                            <input name="a_title" type="text" class="st-forminput" style="width:510px" value="{$article.a_title}">
                            <div class="clear" style="z-index: 670;"></div>
                        </div>
                        <!-- 博文分类下拉列表框 -->
                        <div class="st-form-line" style="z-index: 640;">
                            <span class="st-labeltext">分类</span>
                            <select class="uniform" name="c_id">
                                {foreach $smarty.session.category as $value}
                                <option value="{$value.id}"
                                        {if $value.id eq $article.c_id}selected="selected"{/if}>
                                {str_repeat('----',$value.level)}{$value.c_name}
                                </option>
                                {/foreach}
                            </select>
                            <div class="clear"></div>
                        </div>


                        <!-- 博文状态下拉列表框 -->
                        <div class="st-form-line">
                            <span class="st-labeltext">状态</span>
                            <select class="uniform" name="a_status">
                                <option value="1"
                                        {if $article.a_status eq 1}selected="selected"{/if}>草稿</option>
                                <option value="2"
                                        {if $article.a_status eq 2}selected="selected"{/if}>公开</option>
                                <option value="3"
                                        {if $article.a_status eq 3}selected="selected"{/if}>隐藏</option>
                            </select>
                            <div class="clear"></div>
                        </div>

                        <!-- 博文置顶选项 -->
                        <div class="st-form-line" style="z-index: 620;">
                            <span class="st-labeltext">置顶</span>
                            <label class="margin-right10">
                                <div class="radio">
                                    <span><input type="radio" name="a_toped" class="uniform" value="1" {if $article.a_toped eq 1}checked="checked"{/if}></span>
                                </div> 置顶
                            </label>
                            <label class="margin-right10">
                                <div class="radio">
                                    <span><input type="radio" name="a_toped" class="uniform" value="2" {if $article.a_toped eq 2}checked="checked"{/if}></span>
                                </div> 不置顶
                            </label>
                            <div class="clear" style="z-index: 610;"></div>
                        </div>

                        <!-- 博文图片 -->
                        <div class="simplebox grid740">
                            <div class="titleh">
                                <h3>内容</h3>
                            </div>
                            <div class="body">
                                <textarea class="st-forminput" rows="5" cols="47" name="a_content" style="width:96.5%;">{$article.a_content}</textarea>
                            </div>
                        </div>
                        <div class="button-box" style="z-index: 460;">
                            <input type="submit"  id="button" value="提交" class="st-button">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {include file="../public/footer.html"}
</div>
</body>
</html>
