<div id="sidebar">
    <div id="searchbox" style="z-index: 880;">
        <div class="in" style="z-index: 870;">
            <p class="text-center font18 line-height35">此广告位常年招商</p>
        </div>
    </div>
    <div id="sidemenu">
        <ul>
            <li class="active"><a href=""><img src="{P}/img/icons/sidemenu/laptop.png" width="16" height="16" alt="icon"/>控制面板</a></li>
            {if $smarty.session.user.u_is_admin}
            <li class="subtitle">
                <a class="action tips-right" href="#" title="分类管理"><img src="{P}/img/icons/sidemenu/key.png" width="16" height="16" alt="icon"/>分类管理<img src="{P}/img/arrow-down.png" width="7" height="4" alt="arrow" class="arrow" /></a>
                <ul class="submenu display-block">
                    <li><a href="index.php?p=admin&c=category"><img src="{P}/img/icons/sidemenu/file.png" width="16" height="16" alt="icon"/>分类列表</a></li>

                    <li><a href="index.php?p=admin&c=category&a=add"><img src="{P}/img/icons/sidemenu/file_add.png" width="16" height="16" alt="icon"/>添加分类</a></li>

                </ul>
            </li>
            {/if}
            <li class="subtitle">
                <a class="action tips-right" href="#" title="博文管理"><img src="{P}/img/icons/sidemenu/mail.png" width="16" height="16" alt="icon"/>博文管理<img src="{P}/img/arrow-down.png" width="7" height="4" alt="arrow" class="arrow" /></a>
                <ul class="submenu display-block">
                    <li><a href="index.php?p=admin&c=article&a=add"><img src="{P}/img/icons/sidemenu/file_add.png" width="16" height="16" alt="icon"/>添加博文</a></li>
                    <li><a href="index.php?p=admin&c=article"><img src="{P}/img/icons/sidemenu/file.png" width="16" height="16" alt="icon"/>博文列表</a></li>
                </ul>
            </li>
            {if $smarty.session.user.u_is_admin}
            <li class="subtitle">
                <a class="action tips-right" href="#" title="用户管理"><img src="{P}/img/icons/sidemenu/user.png" width="16" height="16" alt="icon"/>用户管理<img src="{P}/img/arrow-down.png" width="7" height="4" alt="arrow" class="arrow" /></a>
                <ul class="submenu display-block">
                    <li>
                        <a href="index.php?p=admin&c=user&a=add">
                            <img width="16" height="16" alt="icon"
                                 src="{P}/img/icons/sidemenu/user_add.png" />添加用户
                        </a>
                    </li>
                    <li>
                        <a href="index.php?p=admin&c=user">
                            <img width="16" height="16" alt="icon"
                                 src="{P}/img/icons/sidemenu/file.png"/>用户列表
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="index.php?p=admin&c=comment"><img width="16" height="16" alt="icon" src="{P}/img/icons/sidemenu/file.png"/>评论列表</a>
            </li>
            {/if}
        </ul>
    </div>
</div>