<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>评论列表</title>
    <link rel="stylesheet" type="text/css" href="{P}/css/app.css" />
    <script type="text/javascript" src="{P}/js/app.js"></script>
</head>
<body>
<div class="wrapper">
    {include file='../public/header.html'}
    <div id="main">
        {include file="../public/sidebar.html"}
        <div id="page">
            <div class="page-title">
                <div class="in">
                    <div class="titlebar">
                        <h2>评论管理</h2><p>评论列表</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="content">
                <div class="simplebox grid740">
                    <div class="titleh"><h3>评论列表</h3></div>
                    <table id="myTable" class="tablesorter">
                        <thead>
                        <tr>
                            <th>#ID</th><th>作者</th>
                            <th>内容</th><th>博文名</th>
                            <th>评论时间</th><th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 评论列表 -->

                        {foreach $comments as $c}
                        <tr>
                            <td>{$c.id}</td>
                            <td>{$c.u_username}</td>
                            <td>{$c.c_comment}</td>
                            <td>{$c.a_title}</td>
                            <td>{date('Y-m-d',$c.c_time)}</td>
                            <td><a href="index.php?p=admin&c=comment&a=delete&id={$c.id}" onclick="return confirm('确认删除当前评论？')">删除</a>
                            </td>
                        </tr>
                        {/foreach}

                        </tbody>
                    </table>
                    <!-- 分页 -->
                    <ul class="pagination">
                        {$pagestr}
                    </ul>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {include file="../public/footer.html"}
</div>
</body>
</html>
