<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加分类</title>
    <link rel="stylesheet" type="text/css" href="{P}/css/app.css" />
    <script type="text/javascript" src="{P}/js/app.js"></script>
</head>
<body>
<div class="wrapper">
    {include file='../public/header.html'}
    <div id="main">
        {include file="../public/sidebar.html"}
        <div id="page">
            <div class="page-title">
                <div class="in">
                    <div class="titlebar">
                        <h2>分类管理</h2><p>添加分类</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="content">
                <div class="simplebox grid740" style="z-index: 720;">
                    <div class="titleh" style="z-index: 710;">
                        <h3>添加分类</h3>
                    </div>
                    <div class="body" style="z-index: 690;">
                        <!-- 添加分类表单 -->
                        <form id="form2" name="form2" method="post" action="index.php?p=admin&c=category&a=insert">
                            <div class="st-form-line" style="z-index: 680;">
                                <span class="st-labeltext">名称</span>
                                <input name="c_name" type="text" class="st-forminput" style="width:510px" value="">
                                <div class="clear" style="z-index: 670;"></div>
                            </div>
                            <div class="st-form-line" style="z-index: 640;">
                                <span class="st-labeltext">父分类</span>
                                <select name="c_parent_id" class="uniform">
                                    <option value="0">无</option>
                                    {foreach $smarty.session.category as $cat}
                                    <option value="{$cat.id}">
                                        {str_repeat('----',$cat.level)}{$cat.c_name}
                                    </option>
                                    {/foreach}
                                </select>
                                <div class="clear"></div>
                            </div>
                            <div class="st-form-line" style="z-index: 680;">
                                <span class="st-labeltext">排序</span>
                                <input name="c_sort" type="text" class="st-forminput" style="width:510px" value="">
                                <div class="clear" style="z-index: 670;"></div>
                            </div>
                            <div class="button-box" style="z-index: 460;">
                                <input type="submit" id="button" value="提交" class="st-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {include file="../public/footer.html"}
</div>
</body>
</html>
