<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑分类</title>
    <link rel="stylesheet" type="text/css" href="{P}/css/app.css" />
    <script type="text/javascript" src="{P}/js/app.js"></script>
</head>
<body>
<div class="wrapper">
    {include file='../public/header.html'}
    <div id="main">
        {include file="../public/sidebar.html"}
        <div id="page">
            <div class="page-title">
                <div class="in">
                    <div class="titlebar">
                        <h2>分类管理</h2><p>编辑分类</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="content">
                <div class="simplebox grid740" style="z-index: 720;">
                    <div class="titleh" style="z-index: 710;">
                        <h3>编辑分类</h3>
                    </div>
                    <div class="body" style="z-index: 690;">
                        <form id="form2" name="form2" method="post" action="">
                            <input type="hidden" name="id"  value="{$id}">
                            <input type="hidden" name="p"  value="admin">
                            <input type="hidden" name="c"  value="category">
                            <input type="hidden" name="a"  value="update">
                            <div class="st-form-line" style="z-index: 680;">
                                <span class="st-labeltext">名称</span>
                                <input name="c_name" type="text" class="st-forminput" style="width:510px" value="{$smarty.session.category[$id].c_name}">
                                <div class="clear" style="z-index: 670;"></div>
                            </div>
                            <div class="st-form-line" style="z-index: 640;">
                                <span class="st-labeltext">父分类</span>
                                <select name="c_parent_id" class="uniform">
                                    <option value="0">无</option>
                                    {foreach $category as $value}
                                    <option value="{$value.id}" {if $value.id eq $smarty.session.category[$id].c_parent_id}selected="selected"{/if}>
                                    {str_repeat('----',$value.level)}{$value.c_name}
                                    </option>
                                    {/foreach}

                                </select>
                                <div class="clear"></div>
                            </div>
                            <div class="st-form-line" style="z-index: 680;">
                                <span class="st-labeltext">排序</span>
                                <input name="c_sort" style="width:510px"class="st-forminput"
                                       type="text" value="{$smarty.session.category[$id].c_sort}">
                                <div class="clear" style="z-index: 670;"></div>
                            </div>
                            <div class="button-box" style="z-index: 460;">
                                <input type="submit"  id="button" value="提交" class="st-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {include file="../public/footer.html"}
</div>
</body>
</html>
