<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>博文内容</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link href="{P}/css/app.css" rel="stylesheet" media="screen">
    <script src="{P}/js/vendor/modernizr.custom.js"></script>
    <script src="{P}/js/vendor/detectizr.min.js"></script>
</head>
<body>
<div class="page-wrapper">
    <header class="navbar">
        <div class="topbar">
            <div class="container">
                <a href="index.php" class="site-logo">博文前台</a>
            </div>
        </div>
    </header>
    <section class="page-title">
        <div class="container">
            <div class="inner">
                <div class="column">
                    <div class="title"><h1>博文内容</h1></div>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>{$article.a_title}</h1>
                <div class="post-meta">
                    <div class="column">
            <span>
              <i class="icon-head"></i>
              <a href="#">{$article.a_author}</a>
            </span>
                        <span>在</span>
            <span>
              <i class="icon-ribbon"></i>
              <a href="#">
                  {$smarty.session.category[$article.c_id].c_name}
              </a>
            </span>
                        <span>下发布</span>
            <span class="post-comments">
              <i class="icon-speech-bubble"></i>
              <a href="#">{count($comments)}</a>
            </span>
                    </div>
                    <div class="column">
                        <span>{date('Y m d',$article.a_time)}</span>
                    </div>
                </div>
                {if $article.a_img}
                <img src="{URL}uploads/{$article.a_img}" alt="Image">
                {/if}
                <p>{$article.a_content}</p>
                <div class="column"></div>
            </div>
            <div class="post-tools space-top-2x">
                <div class="column"></div>
                <div class="column text-center">
                    <a><i class="fa fa-thumbs-up dz" aria-hidden="true" id="">（32）</i></a>
                </div>
                <div class="column"></div>
            </div>
            <!-- 评论模块 -->
            <div class="comments-area space-top-3x">
                <!-- 评论列表 -->
                <h4 class="comments-count">共有{count($comments)}条评论</h4>
                {foreach $comments as $c}
                <div class="comment">
                    <div class="comment-meta">
                        <div class="column">
                        <span class="comment-autor"><i class="icon-head"></i>
                          <a href="#">{$c.u_username}</a>
                        </span>
                        </div>
                        <div class="column">
                            <span class="comment-date">{date('d.m.Y',$c.c_time)}</span>
                        </div>
                    </div>
                    <div class="comment-body">
                        <p>{$c.c_comment}</p>
                    </div>
                </div>
                {/foreach}

                <div class="comment-respond">
                    <h4 class="comment-reply-title">发布新评论</h4>
                    <!-- 发表评论表单 -->
                    <form method="post" id="comment-form" class="comment-form"
                          action="index.php?c=comment&a=insert">
                        <input type="hidden" name="a_id" value="{$article.id}">
                        <div class="form-group">
                            <label for="cf_comment" class="sr-only">Comment</label>
                            <textarea name="c_comment" id="cf_comment" class="form-control input-alt" rows="7" placeholder="输入您的评论"></textarea>
                        </div>
                        <p class="form-submit">
                            {if isset($smarty.session.user)}
                            <input name="submit" type="submit" id="submit" class="btn btn-primary btn-block" value="发布">
                            {else}
                            <input type="button" onclick="JavaScript:return false" class="btn btn-primary btn-block" value="请先登录">
                            {/if}
                        </p>
                    </form>

                </div>
            </div>

            <a href="#" class="scroll-to-top-btn">
                <i class="icon-arrow-up"></i>
            </a>
            <!-- footer -->
            <footer class="footer">
                <div class="bottom-footer">
                    <div class="container">
                        <div class="copyright">
                            <div class="column">
                                <p>&copy; 2016. 保留所有权利。</p>
                            </div>
                            <div class="column"></div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</div>
</body>
<!-- 引入静态资源 -->
<script src="{P}/js/vendor/jquery-2.1.4.min.js"></script>
<script src="{P}/js/vendor/bootstrap.min.js"></script>
<script src="{P}/js/vendor/waves.min.js"></script>
<script src="{P}/js/vendor/placeholder.js"></script>
<script src="{P}/js/vendor/waypoints.min.js"></script>
<script src="{P}/js/vendor/velocity.min.js"></script>
<script src="{P}/js/scripts.js"></script>
<script>
    $(document).ready(function() {
        $(".dz").bind("click",function(){
            $.get("/index.php?c=index&a=like&id={$article.id}",{},function(result){
                var dataObj=eval("("+result+")");
                var count = dataObj.count;
                $(".dz").html("("+count+")");
            });
        });
    });
</script>
</html>
